@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
html{
	scroll-behavior: smooth;
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	width: 100%;
}
#back{
	width: 2.5em;
	height: 2.5em;
	left: 3em;
	top: 3em;
	float: left;
	position: absolute;
	background-color: #415f63;
	border: 0.2em solid #415f63;
	border-radius: 5em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	z-index: 1;
	transition: 0.3s;
}
#back:hover{
	transform: scale(1.2);
}

#gallery_main{
	margin: 0px;
	position: relative;
}

#gallery_main img{
	width: 100vw;
	height: 75vh;
	margin: auto;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#alpha{
	width: 100vw;
	height: 75vh;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
}

#gallery_main h1{
	font-family: 'Poppins', sans-serif;
	position: absolute;
	color: white;
	font-size: 7em;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
}
#shadow{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 25%;
	color: #333;
}

#links{
	position: absolute;
	top: 1em;
	right: 2em;
	z-index: 1;	
}

#links a{
	font-family: 'Poppins', Arial, Sans-serif;
	font-size: 0.9em;
	margin-right: 1em;
	text-decoration: none;
	color: 	#ececec;
	transition: 0.2s ease-in-out;
}

#links a:hover{
	padding-bottom: 5px;	
	border-bottom: 2px solid #d0d0d0;
}
#selected{
	padding-bottom: 5px;
	border-bottom: 2px solid white;
}
#gallery{
	width: 84vw;
	overflow-x: hidden;
	position: relative;
	margin: -5% auto auto;
	padding: 1em 0em 1em 1em;
}
#button{
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 1;
	top: 62.5%;
	margin: auto;
	margin-bottom: 10px;
}

#button a{
	text-decoration: none;
	font-family: 'Poppins';
	padding: 0.2em 1em;
	font-size: 0.9em;
	font-weight: 300;
	margin: 0.25em;
	color: white;
	transition: 0.3s ease-in-out;
	border: 0.1em solid #415f63;
	border-radius: 1em;
	background-color: #415f63;
}

#button a:hover{
	background-color: rgba(65,95,99, 0.5);
	color: white;
}
#gallery_holder{
	width: 984vw;
	margin: auto;
	margin-bottom: 5em;
	display: block;
	
}
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8{
	padding: 20px 0px 20px 20px;
	width: 85vw;
	margin: auto;
	display: inline-block;
	float: left;
}
#gallery_holder img{
	width: 20vw;
	height: 40vh;
	margin-right: .5em;
	margin-bottom: .5em;
	object-fit: cover;
	transition: 0.2s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#gallery img:hover{
	transform: scale(1.1)
}
#footer{
	padding-bottom: 3em;
	margin-top: 5em;
	position: fixed;
	top: 80%;
}
#footer a{
	background-color: #415f63;
	font-family: 'Poppins', Verdana, Arial;
	color: white;
	font-size: 0.9em;
	padding: 0.5em 1em;
	margin: 5em 3em;
	border: 0.15em solid #415f63;
	text-decoration: none;
	border-radius: 4em;
	transition: 0.3s;
}

#footer a:hover{
	background-color: white;
	color: black;
}