@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
html{
	scroll-behavior: smooth;
}

#back{
	width: 2.5em;
	height: 2.5em;
	position: relative;
	left: 3em;
	top: 3em;
	float: left;
	background-color: #415f63;
	border: 0.2em solid #415f63;
	border-radius: 5em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	transition: 0.3s;
}
#back:hover{
	transform: scale(1.2);
}
#links{
	position: absolute;
	top: 1em;
	right: 2em;
	z-index: 1;	
}

#links a{
	font-family: 'Poppins', Arial, Sans-serif;
	margin-right: 1em;
	text-decoration: none;
	color: #333;
	font-size: 0.9em;
	transition: color 0.3s;
}

#links a:hover{
	padding-bottom: 0.5em;
	color: #415f63;
	border-bottom: 2px solid #415f63;
	
}

#gallery{
	height: 54vh;
	width: 64.5vw;
	margin: -1em auto 2em;
	display: block;
}

#gallery img{
	width: 20vw;
	height: 50vh;
	margin: .5em;
	object-fit: cover;
	transition: 0.2s ease-in-out;
}

#gallery img:hover{
	transform: scale(1.1)
}
#more{
	text-align: center;
	margin-bottom: 6em;
}
#more a{
	width: 8em;
	font-size: 0.9em;
	color: #415f63;
	font-family: 'Poppins', Verdana, Arial; 	
	font-weight: 300;
	padding: 0.25em 1em;
	margin: 5em 3em;
	border: 0.15em solid #415f63;
	border-radius: 4em;
	transition: 0.2s ease-in-out;
	text-decoration: none;
	
}
#more a:hover{
	background-color: #415f63;
	color: white;
}

#footer{
	position: fixed;
	top: 15vh;
	left: 89.5%;
	width: 5.5vw;
	background-color: #415f63;
	margin: 0em 0em 3em 3em;
	overflow: hidden;
	padding: 0.5em;
	transition: 0.5s ease-in-out;
}

#footer a{
	background-color: white;
	left: 50%;
	display: block;
	margin-bottom: 0.5em;
	text-align: center;
	font-family: poppins;
	font-weight: 300;
	padding: 0.5em;
	text-decoration: none;
	color: #333;
	font-size: 0.8em;
}

#footer img{
	width: 2em;
	height: 2em;
	position: relative;
	margin: auto;
}
